@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ================= BASE ==================== */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.bx {
  font-size: 2.5rem;
}
body {
  background-color: #efefef;
}

html{
  scroll-behavior: smooth;
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: crimson;
  color: #fff;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.348);
}
.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
}


/* -- BODY -- */
body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  /* background-color: #043E51; */
}

/*  Header start*/
header{
    background: url(../img/background.svg);
    width: 100%;
    background-color:  #043E51;
    position: sticky;
    top: 0;
    z-index: 999;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.flex-nav-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
}
.company-logo {
  font-size: 1rem;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-text-fill-color: transparent;
}
.nav-items {
  display: flex;
}
.nav-item {
  margin: 0 2rem;
}
.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: #A1B5BB;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link::before {
  content: "";
  background: #A1B5BB;
  width: 100%;
  height: 0.09rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 500ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-btn{
    padding: 13px 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background: #145E76;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.nav-btn:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: black;
  transform: translateY(-5px);
}
  
.menu-toggle {
  display: none;
}
.bx-menu,
.bx-x {
  cursor: pointer;
  color: white;
  display: none !important;
}
/* Header end */


/* Section-1 start */
:root{
	--bg-color: #ffffff;
	--text-color: #000;
	--secound-color: #a09dab;
	--main-color: #f75023;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
.sec-2{
  background: url(../img/background.svg);
  background-size: cover;
  background-position: center;
  background-color:  #043E51;
  width: 100%;
}
.home{
	display: flex;
	align-items: center;
	justify-content: space-between;
  padding: 80px 9px;
  width: 87%;
}
.home-text{
  width: 50%;
}
.home-text h2{
	line-height: 1;
  width: 310px;
  padding: 16px 20px;
  font-size: 22px;
  color: white;
  background: #094556;
  border-radius: 26px;
  margin-bottom: 25px;
}
.home-text h3{
	font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.home-text p{
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
	margin-bottom: 20px;
}
.social a{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: rgba(128,103,240,1);
	font-size: 17px;
	color: var(--bg-color);
	margin-right: 22px;
	margin-bottom: 30px;
}
.social a:hover{
	transform: scale(1.1);
	background: var(--main-color);
	transition: .5s;
}
.btn{
	display: inline-block;
	color: var(--bg-color);
	background: var(--main-color);
	font-size: var(--p-font);
	padding: 10px 40px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 30px;
	transition: ease .40s;
}
.btn:hover{
	transform: scale(1.1);
}
.home-img img{
	width: 100%;
}
/* Typewriter effect 1 */
@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "S"; }
  2.2791%, 25.0698% { content: "Sa"; }
  3.4186%, 23.9302% { content: "Sam"; }
  4.5581%, 22.7907% { content: "Samar"; }
  5.5576%, 21.7907% { content: "Samari"; }
  6.5571%, 20.7907% { content: "Samarid"; }
  7.5566%, 19.7907% { content: "Samaridd"; }
  8.5561%, 18.7907% { content: "Samariddi"; }
  9.5556%, 17.7907% { content: "Samariddin"; }

  0.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "D"; }
  33.0465%, 49.0000% { content: "De"; }
  34.1860%, 47.8605% { content: "Dev"; }
  35.3256%, 46.7209% { content: "Deve"; }
  36.4651%, 45.5814% { content: "Devel"; }
  37.6047%, 44.4419% { content: "Develo"; }
  38.6041%, 44.4419% { content: "Develop"; }
  39.6037%, 44.4419% { content: "Develope"; }
  40.6031%, 44.4419% { content: "Developer"; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "r"; }
  56.9767%, 72.9302% { content: "re"; }
  58.1163%, 71.7907% { content: "rea"; }
  59.2558%, 70.6512% { content: "read"; }
  60.3953%, 69.5116% { content: "reade"; }
  61.5349%, 68.3721% { content: "reader"; }

  78.6279%, 96.8605% { content: ""; }
  79.7674%, 95.7209% { content: "h"; }
  80.9070%, 94.5814% { content: "hu"; }
  82.0465%, 93.4419% { content: "hum"; }
  83.1860%, 92.3023% { content: "huma"; }
  84.3256%, 91.1628% { content: "human"; }
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.typewriter {
 color: #A1B5BB;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}
/* Section-2 end */


/* Section-3 Start */

.sect-3{
  position: relative;
  top: -70px;
  width: 90%;
  background: #ffffff;
  box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  text-align: center;
  padding: 0px 30px;
  color: #08546C;
  line-height: 40px;
  font-family: 'Inter';
  font-style: normal;
}
.flex{
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex h2{
font-size: 40px;
}

/* Servius start*/

.service{
  width: 95%;
  margin: auto;
}
.service h1{
  margin-top: 75px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
  font-family: 'Schoolbell';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #265A6A;
}
.service h1::after{
  content: '';
  position: absolute;
  width: 170px;
  height: 3px;
  background-color: wheat;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.service h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: #08546C;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}
.content{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.card{
  background: #FFFFFF;
  box-shadow: 0px 0px 33.4221px rgba(0, 0, 0, 0.108);
  width: calc(26% - 20px);
  padding: 30px 20px;   
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: all 0.5 ease;
  overflow: hidden;
}
.card .im{
  position: absolute;
  top: -166px;
  right: -166px;
  transition: all 0.6s ease-in-out;
}
.box{
  color: white;
  text-align: left;
}
.box i{
  font-size: 40px;
  padding-left: 10px;
  color: crimson;
  transition: color 0.3s ease;
}
.box img{
  width: 45px;
  border-radius: 50px;
}
.box p{
  padding-top: 10px;
  color: #696969;
}
.box h3{
  padding-top: 10px;
  color: black;
  font-weight: 600;
}
.card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: crimson;
  top: 0;
  left:0;
  z-index: -1;
  border-radius: 6px;
  transition:  0.5s ease;
}
.card:hover{
  background-color: transparent;
}
.card:hover::before{
  width: 100%;
}
.card:hover h3{
   color: white;
}
.card:hover p{
  color: white;
}
.card:hover .im{
  top: 3;
  right: 0;
}


/* Section 4*/

.sect-4{
  margin-top: 230px;
  font-weight: 600;
}
.sect-4 .textla{
  text-align: center;
  width: 60%;
  margin: auto;
  line-height: 20px;
}
.sect-4 .textla h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
  color: #08546C;
}

.sect-4 .boxc{
  margin-top: 60px;
  width: 45%;
}
.sect-4 .boxc img{
  width: 100%;
  height: 290px;
}
.sect-4 .yonma-yon{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.yonma-yon h2{
  color: #08546C;
  padding: 12px 2px;
  line-height: 30px;

}
.yonma-yon p{
  line-height: 20px;
  padding: 13px 2px;
}
.yonma-yon h2 ~ a{
  color: #08546C;
  padding: 13px 2px;
  line-height: 30px;
}


/* Sect-5  Start*/

.sect-5 {
  background: url("/./img/background.svg");
  background-color: #073c4e;
  margin-top: 200px;
}

.sect-5 {
  padding: 10px 0;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center
}

.orqadag {
  width: 100%
}

.txt img {
  padding-bottom: 32px
}

.txt p {
  padding: 10px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF
}

.textt {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #AABFC6
}
/* Section 5 end */


/* Section 6 */

.sect-6 img{
  width: 70px;
}
.sect-6{
  display: flex;
}
.sect-6 {
  padding: 101px 20px 150px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img{
  width: 60px;
}
.sect-6-left p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #757575;
}
.sect-6-icons i {
  color: black;
  cursor: pointer;
}
.sect-7-icons {
  display: flex;
  gap: 17px;
  margin-top: 50px;
  font-size: 20px;
}
.footer-right {
  display: flex;
}
.services {
  margin: 0px 115px 0px 168px;
}
.footer-list h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #08546c;
}
.footer-list a {
    position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #787878;
}
.footer-list a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.9px;
  border-radius: 4px;
  background-color: #787878;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.footer-list a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.footer-list li {
  margin-top: 10px;
}
.footer-list ul {
  margin-top: 28px;
}
footer {
  background-color: #e5e5e5;
}
.footer {
  padding: 101px 20px 172px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo span {
  margin-left: 5px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #08546c;
}
.footer-left p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #757575;
}
.footer-apps {
  display: flex;
  gap: 17px;
  margin-top: 50px;
}
.footer-right {
  display: flex;
}
.services {
  margin: 0px 115px 0px 168px;
}
.footer-list h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #08546c;
}
.footer-list a {
    position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #787878;
}
.footer-list a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.9px;
  border-radius: 4px;
  background-color: #787878;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.footer-list a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.footer-list li {
  margin-top: 10px;
}
.footer-list ul {
  margin-top: 28px;
}






header{
  padding: 16px 3%;
  transition: .3s;
}

/*  MEDIA QUERIES  */
@media (max-width: 1090px) {
  .footer {
    flex-direction: column;
  }
  .footer-left {
    text-align: center;
  }
  .footer-logo,
  .footer-apps {
    justify-content: center;
  }
  .footer-right {
    flex-direction: column;
    align-items: center;
  }
  .services {
    margin: 0;
  }
  .footer-list {
    margin-top: 50px;
    text-align: center;
  }
}
@media (max-width:1000px) {
  .home-img img{
    width: 100%;
    display: none;
  }
  .home-text{
    width: 100%;
  }
  .home-text h3{
    font-size: 30px; 
    line-height: 40px;
  }
  
.service h2{
  font-size: 35px;
  width: 100%;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card{
  width: 100%;
}
.sect-5 {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  justify-content: center;
  align-items: center
}



}
@media (max-width: 890px) {
  .nav-btn{
    display: none;
  }
  /* ================= HEADER ================ */
  header {
    padding: 0.5rem 1rem;
  }
  .navbar {
    background-color: black;
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 500ms;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .menu-toggle {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }
}
@media (max-width:800px){

.sect-4 .textla{
  text-align: center;
  width: 90%;
  margin: auto;
  line-height: 20px;
}
.sect-4 .textla h2{
  font-size: 40px;
  line-height: 50px;
}

.sect-4 .boxc{
  width: 90%;
  margin: auto;
  text-align: center;
}
.sect-4 .boxc img{
  width: 100%;
}
.sect-4 .yonma-yon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

}

@media (max-width:600px) {
  .sect-3{
    position: relative;
    top: -50px;
  }
  .flex{
    line-height: 60px;
    display: flex;
    flex-direction: column;
  }
  
}

@media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "developer"; }
      25% { content: "writer"; }
      50% { content: "reader"; }
      75% { content: "human"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
}